{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
{%- autoescape false -%}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{%- endautoescape -%}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Hello {{ user.firstName }} {{ user.lastName }} !
To finish activating your account, Please confirm by visiting  {{ confirmationUrl }}
Thank you,
The MAMIAS Team
{% endautoescape %}
{% endblock %}
{% block body_html %}
<p>Hello <b>{{ user.firstName }} {{ user.lastName }}</b>!</p>
<p>To finish activating your account, Please confirm by visiting <a href="{{ confirmationUrl }}">this link</a>.</p>
<p>Thank you.</p>
<p>The MAMIAS Team</p>
{% endblock %}




